@using Cash_Flow_Projection.Models

@inject Cash_Flow_Projection.Models.Database db

<table class="table table-striped table-responsive-sm">
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Account</th>
            <th>Actions</th>
            <th>Checking</th>
            <th>Credit</th>
            <th>Business</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var row in Rows)
        {
            <Cash_Flow_Projection.Components.Row Data="@row" OnClickCallback="@OnInitialized" />
        }
    </tbody>
</table>

@code {
    public IEnumerable<Cash_Flow_Projection.Models.Dashboard.Row> Rows { get; set; }

    protected override void OnInitialized()
    {
        var dash = new Dashboard(db);

        Rows = dash.Rows.ToList();
    }
}