@model Cash_Flow_Projection.Models.Dashboard

@{
    ViewData["Title"] = "Home Page";
}

<div id="chart_div"></div>

<hr />

<component type="typeof(Cash_Flow_Projection.Components.Table)" render-mode="ServerPrerendered" />

<div class="modal fade" id="balanceModal" tabindex="-1" role="dialog" aria-labelledby="balanceModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="balanceModalLabel">Update Balance</h4>
            </div>
            @using (Html.BeginForm("Balance", "Home", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <input type="text" name="account" id="account" hidden="hidden" />
                    <input type="text" name="balance" id="balance" placeholder="Balance" />
                </div>
                <div class="modal-footer">
                    <button type="submit">Update</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
    {
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        var result = JSON.parse('@Html.Raw(Model.ChartData)');

        function drawChart() {
            // Create the data table.
            var data = new google.visualization.DataTable();

            data.addColumn('date', 'Date');
            data.addColumn('number', 'Cash ($)');
            data.addColumn('number', 'Credit ($)');

            for (var i = 0; i < result.length; i++)
            {
                data.addRow([new Date(result[i].Date), result[i].CashBalance + result[i].BusinessBalance, -result[i].CreditBalance]);
            }

            var options = {
                title: 'Projected Balance',
                legend: { position: 'bottom' },
                vAxis: { format: 'currency' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>

    <script>
        $(document).on('click', '.update-balance', function () {
            $("#balance").val($(this).data('current'));
            $("#account").val($(this).data('account'));

            $("#balanceModal").modal();

            $('#balanceModal').on('shown.bs.modal', function () {
                $('#balance').focus()
            })
        });
    </script>
}