<h3>Test Component! @Name</h3>

<input type="button" @onclick="TestMethod" value="Click!" />

@code {
    private string Name;

    public void TestMethod()
    {
        Name = DateTime.UtcNow.ToLongTimeString();
    }
}
